sphinx-rtd-theme==3.0.2
sphinxcontrib-mermaid==1.0.0
protobuf==6.31.1
scapy==2.6.1
elementpath==5.0.1
pyserial==3.5.0
pycryptodomex==3.22.0
pyusb==1.2.1
cryptography==45.0.3
prompt_toolkit==3.0.48
hexdump==3.3
pynput==1.8.1
distro==1.9.0
requests==2.31.0
websockets>=11.0.3